html,body{
    width: max-content;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

.app-header {
    width:300px;
    font: 25px Arial, Helvetica, sans-serif; 
    color: #7D2116; 
    border-top: 14px solid #7FD991; 
    border-left: 2px solid #7FD991; 

}

.bck-image{
    width: 100%;
    height: max-content;

}